@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Questrial');
@media all and (max-width : 767px) {
*  {
font-family: 'Questrial', sans-serif;	
}
body{
	background-color:white;
}
#menuExit {
	display:none;
	margin-top:-2.2%;
	margin-left:0.5%;
	width: 9vw;
	float:right;
}
#menuExit:hover {
	content:url(menuExitHover.png);
}
#menuIcon {
	margin-top:4%;
	margin-left:2%;
	width: 7vw;
}
#menuIcon:hover {
	content:url(menuIconHover.png);
}
#logos {
	background-color:white;	
    width:100%;
	margin-bottom:0.5%
}
#rguLogo {
	max-width: 100%;
	float:right;
}
#inst, #tw, #fb {
	position:fixed;
	max-width:7vw;
	max-height:3vh;
	top:97vh;
}
#fb {
	left:35vw;
}
#tw {
	left:45vw;
}
#inst {
	left:55vw;
}
#nav {
	position: fixed;
	background-color: #35093e;
	height:100vh;
	display:none;
	overflow-x: hidden;
	overflow-y:auto;

}
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: transparent; 
    -webkit-box-shadow: inset 0 0 6px transparent; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: transparent; 
}
#menu {
	background-color:#35093e;
	list-style: none outside none;
	font-family: 'Questrial', sans-serif;
}
.dropdown-content {
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: block;
}
.dropdown-content a {
	font-size: 110%;
	display: block;
	color: #35093e;
	text-decoration: none;
	text-align: left;
	padding: 2%;
}
.dropdown {
-moz-transition: all 300ms ease-in-out 0s;
-ms-transition: all 300ms ease-in-out 0s;
-o-transition: all 300ms ease-in-out 0s;
-webkit-transition: all 300ms ease-in-out 0s;
transition: all 300ms ease-in-out 0s;
}
.dropdwnBtn {
display: block;
text-decoration: none;
-moz-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
-ms-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
-o-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
-webkit-transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
transition: color 400ms ease-in-out 0s, background-color 400ms ease-in-out 0s;
color: white;
font-size: 200%;
text-align:left;
padding-right: 1%;
padding-left: 1%;
padding-top: 5%;
padding-bottom:5%;
margin-top:1%;
}
.dropdwnBtn:hover, .dropdown:hover .dropdwnBtn{
	border-top: medium solid #89d41a;
	color: #89d41a;
}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown-content :hover {
    background-color:#35093E;
    color:white
}
.dropdown-content:hover .dropdwnBtn {
	border-top: medium solid #89d41a;
	color: #89d41a;
}
#subItems {
padding-left: 8px;
-moz-transition: padding 150ms ease-out 0s;
-ms-transition: padding 150ms ease-out 0s;
-o-transition: padding 150ms ease-out 0s;
-webkit-transition: padding 150ms ease-out 0s;
transition: padding 150ms ease-out 0s;
background-color:white;
color:#35093E;
}
#subItems a {
	text-align:left;
}
#subItems a:hover {
background-color:#35093E;
color:white;
padding-left: 15px;
}
#subItems a:hover #sub {
	background-color:#35093E;
color:white;
}
#search {
	background-color:#35093E;
	margin-bottom:1%;
	margin-top:1%;
	border-top: medium solid transparent;
	display:none;
}
#search:hover{
	border-top: medium solid #89d41a;
	color:#89D41A;
}
#search:hover #searchBox{
	color:#89D41A;
}
#searchBox{
	font-family: 'Questrial', sans-serif;
	font-size: 3.5vw;
	border: thin solid transparent;
	color: white;
	background-color: transparent;
}
#searchIcon {
	width: 4vw;
	padding-top: 0.5%;
	padding-left: 0.2%;
	padding-right: 0.2%;
	margin-top:1%;
}
#search:hover #searchIcon{
	content: url(lupaHover.png);
	padding-top: 0.5%;
	padding-left: 0.2%;
	padding-right: 0.2%;
}
#sidebar {
	margin-top:4%;
	margin-bottom:5%
}
.tab {
display:none;
}
input {
  display: none;
}

label:hover {
	  cursor: pointer;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}
#tab1:checked ~ #fbPlugin,
#tab2:checked ~ #twitterPlugin,
#tab3:checked ~ #instaPlugin{
	width:15%;
}
#tab1:unchecked ~ #fbPlugin,
#tab2:unchecked ~ #twitterPlugin,
#tab3:unchecked ~ #instaPlugin{
	width:10%;
}
#fbPlugin {
	width:15%;
}
#twitterPlugin {
	width:10%;
}
#instaPlugin {
	width:10%;
}

#trending {
	height:350px;
	background-color:#D5D6D8;
	
}
#trending p {

}
#trending h1{
	color:#3A3A3C;
}
.text {
	color:#3A3A3C;
	font-size:100%;
	padding-top:0;
	padding-left:10%;
	padding-right:10%;
	height:20%;
}
.more {
	float:right;
	margin-right:10%;
	font-size:100%;
	font-weight:500;
	margin-top:15%;
}
.more:hover {
	cursor:pointer;
}
#timetableChanges {
	height:350px;
	background-color:#3A3A3C;

}
#timetableChanges h1{
	color:#D5D6D8;
}
#timetableChanges p{
	color:#D5D6D8;
}
#sidebar h1 {
	padding:7%;
	font-size:140%;
	font-weight:500;
	text-transform:uppercase;
	height:5%;
	margin-bottom:0;
}





#footer {
	margin-top:3%;
	height:75px;
	background-color:#1C1C1F;
}
#footer li {
	text-align:left;
	display:inline;
}
#footer ul a{
	list-style-type:none;
	text-decoration:none;
	color:white;
}
}