@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Questrial');
*  {
	font-family: 'Questrial', sans-serif;
}
#location {
	text-transform:uppercase;
	color:#AEAFB2;
	font-weight:500;
}
#title {
	font-size:250%;
	font-weight:bold;
	text-transform:uppercase;
	padding:0;
	margin-bottom:0;
}
#mainArticle {
	margin-top: 2%;
	margin-bottom: 100px;
	padding-left:0;
	padding-right:0;
	background-color:#D5D6D8;
}
#mainImage  {
	background-image: url(article1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
}
#mainCaption {
	cursor:pointer;	
	background-color:#1D1D1F;
	color:white;
	margin-top:45%;
	float:right;
	height:30%;
	margin-right:-2%;
}
#mainTitle {
	font-size:1.7vw;
	font-weight:500;
	margin:2%;
}
#mainAuthor {
	font-size:0.9vw;
	font-weight:500;
	margin:2%;
}
#mainFirstParagraph {
	text-align:justify;
	height: 100%;
	background-color:#D5D6D8;
	font-size:1vw
}
#mainContinueReading {
	text-decoration:none;
	color:black;
	float:right;
}

.image {
	padding:0;
}
.headline {
	font-weight: 500;
	background-color:white;
	margin:0;
}
.firstParagraph {
	background-color:#D5D6D8;
	margin:0;
	padding:1%;
}
.continueReading {
	text-decoration:none;
	color:#ADADAF;
	font-weight:600;
	text-align:right;
	margin:0;
}
#pages a {
	text-decoration: none;
	color: #6E6F71;
}
#pages p {
	border-top: solid thin transparent;
	margin:0;
	text-align:center;
}
#pages p:hover {
	text-decoration:none;
	color:#89D41A;
	border-top: solid thin #89D41A;
}
@media all and (min-width : 1025px) {
#mainFirstParagraph {
	font-size: 1vw;
}
.headline {
	font-size: 1.3vw;
}
.firstParagraph {
	font-size:1vw;
}
}
@media all and (min-width : 768px)  and (max-width : 1024px) {
#mainFirstParagraph {
	font-size: 1.25vw;
}
.headline {
	font-size: 1.5vw;
}
.firstParagraph {
	font-size:1.25vw;
}
}
@media all and (max-width : 767px) {
.headline {
	font-size: 2.5vw;
}
.firstParagraph {
	font-size:2vw;
}
}